:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accents: #2196f3;
  --primary-bg-color: #2f303a;
  --cards-gap: 30px;
  --fill-icon: #afb1b8;
}

.address-nav, .about-card-set, .clients-card-set, .features-card-set, .footer-list, .footer-list-contacts, .social-list, .hero-content, .portfolio-button-set, .portfolio-card-set, .team-card-set {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-logo span {
  color: var(--accents);
}

@media screen and (min-width: 768px) {
  .navigation {
    height: 80px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .main-nav {
    height: 59px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    height: 80px;
  }
}

@media screen and (min-width: 480px) {
  .site-nav {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 480px) {
  .site-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 52px;
  }
  .site-nav__item:last-child {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    padding-top: 0px;
    padding-bottom: 31px;
  }
  .site-nav__item:not(:last-child) {
    padding-top: 33px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__item {
    padding-top: 33px;
    padding-bottom: 31px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__item:last-child {
    padding-top: 0;
  }
}

@media screen and (min-width: 480px) {
  .site-nav__link {
    position: relative;
    font-size: 18px;
    line-height: 1.16;
  }
  .site-nav__link.current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accents);
    margin-top: 8px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    font-size: 14px;
    line-height: 1.17;
  }
  .site-nav__link.current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accents);
    margin-top: 28px;
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accents);
  }
}

@media screen and (min-width: 768px) {
  .address {
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-left: 84px;
    padding-top: 33px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) {
  .address-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .address-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 16px;
  }
  .address-nav__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .address-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 0px;
  }
  .address-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.address-nav__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.address-nav__link:hover .address-nav__icon,
.address-nav__link:focus .address-nav__icon {
  fill: var(--accents);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 480px) {
  .address-nav__link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .address-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.16;
  }
}

.address-nav__link:hover, .address-nav__link:focus {
  color: var(--accents);
}

@media screen and (min-width: 1200px) {
  .address-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.address-nav__link:hover, .address-nav__link:focus {
  color: var(--accents);
}

.menu-button {
  position: absolute;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    padding-top: 60px;
    background: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * var(--cards-gap));
}

.about-card-set__item {
  position: relative;
  -ms-flex-preferred-size: calc(100% / 3 - var(--cards-gap));
      flex-basis: calc(100% / 3 - var(--cards-gap));
  margin-left: var(--cards-gap);
}

.about-card-set__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.about-card-set__text p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .clients {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients-card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-card-set li {
  margin-bottom: var(--cards-gap);
}

.clients-card-set li:nth-child(5), .clients-card-set li:nth-child(6) {
  margin-bottom: 0px;
}

.clients-card-set__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients-card-set__link {
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .clients-card-set__link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-card-set__link {
    width: 170px;
    height: 90px;
  }
}

.clients-card-set__link:hover, .clients-card-set__link:focus {
  border-color: var(--accents);
}

.clients-card-set__icon {
  fill: var(--fill-icon);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-card-set__icon,
.clients-link:focus .clients-card-set__icon {
  fill: var(--accents);
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.current {
  color: var(--accents);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  margin-bottom: 50px;
}

.title h2 {
  font-weight: 700;
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .title h2 {
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .title h2 {
    font-size: 36px;
    line-height: 1.67;
  }
}

@media screen and (min-width: 480px) {
  .features {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.features-card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .features-card-set {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .features-card-set__item {
    margin-top: 30px;
  }
  .features-card-set__item:first-child {
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .features-card-set__item {
    margin-top: 0px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .features-card-set__item:first-child {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .features-card-set__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-card-set__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (min-width: 480px) {
  .features-card-set__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features-card-set__title {
    text-align: left;
  }
}

.features-card-set__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features-card-set__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-card-set__icon {
  width: 70px;
  height: 70px;
}

.footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .footer-list__item:not(:last-child) {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list__item:first-child {
    margin-right: 70px;
  }
  .footer-list__item:nth-child(2) {
    margin-right: 93px;
  }
}

.footer-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-list__title {
    padding-top: 12px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo span {
  color: var(--accents);
}

.footer-list-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-contacts__emailtel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-contacts__map {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.footer-list__item .social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__item .social-list__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    width: 574px;
  }
}

.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}

.footer-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  background: var(--accents);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-form__button::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/send-icon.svg");
  background-size: contain;
}

.form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 39px 40px 41px;
}

.form__title {
  display: inline-block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-field__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 11px 42px;
  height: 40px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:hover, .form-field__input:focus {
  border-color: var(--accents);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:hover ~ .form-field__icon,
.form-field__input:focus ~ .form-field__icon {
  fill: var(--accents);
}

.form-field__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .form-field__textarea:hover,
.form-field .form-field__textarea:focus {
  border-color: var(--accents);
}

.form-field .form-field__textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field .form-field__textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field .form-field__textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field .form-field__textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding-left: 12px;
}

.form-agreement__input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-agreement__input[type="checkbox"]:checked + .form-agreement__icon {
  background-color: var(--accents);
  background-image: url("../images/check-icon.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accents);
}

.form-agreement__icon {
  display: block;
  width: 16px;
  height: 15px;
  border: solid 2px #252121;
  border-radius: 2px;
  margin-right: 9px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-agreement__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accents);
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.form button {
  display: block;
  width: 200px;
  height: 50px;
  background: var(--accents);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero {
  background-color: var(--primary-bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    background-size: cover;
  }
}

.hero-content {
  text-align: center;
}

.hero-title {
  display: inline-block;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 136px;
  min-height: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background: var(--accents);
  border-radius: 4px;
  border-width: 0px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.backdrop-service {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop-service.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  border-color: var(--accents);
}

.close-icon {
  width: 18px;
  height: 18px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon {
  fill: var(--accents);
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-logo span {
  color: var(--accents);
}

@media screen and (min-width: 768px) {
  .navigation {
    height: 80px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .main-nav {
    height: 59px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    height: 80px;
  }
}

@media screen and (min-width: 480px) {
  .site-nav {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 480px) {
  .site-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 52px;
  }
  .site-nav__item:last-child {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    padding-top: 0px;
    padding-bottom: 31px;
  }
  .site-nav__item:not(:last-child) {
    padding-top: 33px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__item {
    padding-top: 33px;
    padding-bottom: 31px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__item:last-child {
    padding-top: 0;
  }
}

@media screen and (min-width: 480px) {
  .site-nav__link {
    position: relative;
    font-size: 18px;
    line-height: 1.16;
  }
  .site-nav__link.current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accents);
    margin-top: 8px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    font-size: 14px;
    line-height: 1.17;
  }
  .site-nav__link.current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accents);
    margin-top: 28px;
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accents);
  }
}

@media screen and (min-width: 768px) {
  .address {
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-left: 84px;
    padding-top: 33px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) {
  .address-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .address-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 16px;
  }
  .address-nav__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .address-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 0px;
  }
  .address-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.address-nav__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.address-nav__link:hover .address-nav__icon,
.address-nav__link:focus .address-nav__icon {
  fill: var(--accents);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 480px) {
  .address-nav__link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .address-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.16;
  }
}

.address-nav__link:hover, .address-nav__link:focus {
  color: var(--accents);
}

@media screen and (min-width: 1200px) {
  .address-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.address-nav__link:hover, .address-nav__link:focus {
  color: var(--accents);
}

.menu-button {
  position: absolute;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    padding-top: 60px;
    background: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) {
  .portfolio-button-set {
    display: inline;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 480px;
    margin-bottom: 50px;
  }
  .portfolio-button-set__item {
    display: inline-block;
    margin-bottom: 15px;
  }
  .portfolio-button-set__item:nth-child(4), .portfolio-button-set__item:nth-child(5) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-button-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio-button-set__item:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-button {
  padding: 6px 22px;
  min-width: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accents);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 480px) {
  .portfolio-card-set {
    display: inline-block;
    margin-top: calc(-1 * var(--cards-gap));
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--cards-gap));
  }
}

.portfolio-card-set__item {
  margin-top: var(--cards-gap);
}

@media screen and (min-width: 1200px) {
  .portfolio-card-set__item:not(:nth-child(3n + 1)) {
    margin-left: var(--cards-gap);
  }
}

.portfolio-card-set__item:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-card:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-card-content {
  padding: 20px 24px;
  background-color: #ffffff;
}

.portfolio-card-content__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-card-content__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card-thumb::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:focus .portfolio-card-thumb::before,
.portfolio-card-link:hover .portfolio-card-thumb::before {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-actions {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px 63px 24px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover .portfolio-actions,
.portfolio-card-link:focus .portfolio-actions {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.team {
  background: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) {
  .team-card-set {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-card-set {
    margin-left: calc(-1 * var(--cards-gap));
  }
}

.team-card-set__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  .team-card-set__item {
    width: 450px;
    margin-bottom: var(--cards-gap);
  }
}

@media screen and (min-width: 768px) {
  .team-card-set__item {
    width: 354px;
    margin-bottom: var(--cards-gap);
  }
  .team-card-set__item:nth-child(2) {
    margin-left: var(--cards-gap);
  }
  .team-card-set__item:nth-child(4) {
    margin-left: var(--cards-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team-card-set__item {
    width: 267px;
  }
  .team-card-set__item:not(:first-child) {
    margin-left: var(--cards-gap);
  }
}

.team-card-set__title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card-set__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 480px) {
  .social-list {
    width: 206px;
  }
}

.team-card-set .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .team-card-set .social-list {
    padding: 16px 122px 24px 122px;
  }
}

@media screen and (min-width: 768px) {
  .team-card-set .social-list {
    padding: 16px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card-set .social-list {
    padding: 16px 32px 30px 32px;
  }
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accents);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--fill-icon);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}
/*# sourceMappingURL=main.css.map */