// COMMON
body {
  font-family: Montserrat, sans-serif;
  margin: 0px;
  counter-reset: problem-number;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  // @media screen and (min-width: 768px) {
  //   width: 768px;
  // }

  // @media screen and (min-width: 1344px) {
  //   width: 1344px;
  // }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;

  letter-spacing: 0.03em;

  color: #ffffff;
}

// PROBLEMS TITLE
.problems {
  & span {
    display: block;
  }

  & .problems-title-orange {
    display: inline;
    color: #ff6b09;
  }
}

.problems-title-container {
  position: relative;
  height: 545px;

  padding: 51px 20px 15px 20px;

  background-color: var(--background-color);

  & h2 {
    width: 280px;
  }
}

.problems-title {
  height: 128px;
}

// PROBLEMS SET
.problems-set-container {
  outline: 2px solid teal;

  position: absolute;
  // top: 38%;
  // left: 6%;
  // transform: translate(-38%, -6%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 280px;

  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.problems-set {
  padding: 20px 14px 20px 30px;

  &__item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.08em;
    margin-bottom: 10px;

    color: var(--primary-text-color);
  }

  &__item::before {
    display: block;
    content: "";

    margin-bottom: 5px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;

    color: #ff6b09;

    counter-increment: problem-number;
    content: "— 0" counter(problem-number) " ";
  }
}
